@font-face {
    font-family: 'GilroyBold';
    src: url('../fonts/gilroy/gilroy-bold/Gilroy-Bold.eot');
    src: url('../fonts/gilroy/gilroy-bold/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy/gilroy-bold/Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/gilroy/gilroy-bold/Gilroy-Bold.woff') format('woff'),
    url('../fonts/gilroy/gilroy-bold/Gilroy-Bold.ttf') format('truetype'),
    url('../fonts/gilroy/gilroy-bold/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GilroyMedium';
    src: url('../fonts/gilroy/gilroy-medium/Gilroy-Medium.eot');
    src: url('../fonts/gilroy/gilroy-medium/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gilroy/gilroy-medium/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/gilroy/gilroy-medium/Gilroy-Medium.woff') format('woff'),
    url('../fonts/gilroy/gilroy-medium/Gilroy-Medium.ttf') format('truetype'),
    url('../fonts/gilroy/gilroy-medium/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

html, body {
    background-color: #d91a35;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    margin: auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

#flip-card-1{
    background-color: #d91a35;
    top:5%;
    left:5%;
    width: 26.7%;
    height: 42.5%;
    position: relative;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

#flip-card-2{
    background-color: #d91a35;
    top:5%;
    left:36.7%;
    width: 26.7%;
    height: 42.5%;
    position: absolute;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

#flip-card-3{
    background-color: #d91a35;
    top:5%;
    right:5%;
    width: 26.7%;
    height: 42.5%;
    position: absolute;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

#flip-card-4{
    background-color: #d91a35;
    bottom:5%;
    left:5%;
    width: 26.7%;
    height: 42.5%;
    position: absolute;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

#flip-card-5{
    background-color: #d91a35;
    bottom:5%;
    left:36.7%;
    width: 26.7%;
    height: 42.5%;
    position: absolute;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

#flip-card-6{
    background-color: #d91a35;
    bottom:5%;
    right:5%;
    width: 26.7%;
    height: 42.5%;
    position: absolute;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flip-card-front {
    border-radius: 15px;
    background-color: #103f67;
    color: white;
}

/* Style the back side */
.flip-card-back {
    border-radius: 15px;
    background-color: white;
    color: black;

    transform: rotateY(180deg);
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
#flip-card-1:hover .flip-card-inner {
    transform: rotateY(180deg);
}
#flip-card-2:hover .flip-card-inner {
    transform: rotateY(180deg);
}
#flip-card-3:hover .flip-card-inner {
    transform: rotateY(180deg);
}
#flip-card-4:hover .flip-card-inner {
    transform: rotateY(180deg);
}
#flip-card-5:hover .flip-card-inner {
    transform: rotateY(180deg);
}
#flip-card-6:hover .flip-card-inner {
    transform: rotateY(180deg);
}