<!--
Name: Katie Fallon

This is the accommodation.html page which provides users with information on
the different types of accommodation,
-->
<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="RouteToUni"/>
    <meta name="google-signin-client_id" content="1081173404847-ddjfjkqhfj79u9qiv7lrsajibo3vtgqc.apps.googleusercontent.com"/>
    <script src="static/js/node_modules/animejs/lib/anime.min.js"></script>
    <script src="static/js/animations.js"></script>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="../static/css/flipcard-stylesheet.css">
    <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" href="../static/css/mobile-flipcard-stylesheet.css" />

    <!-- Link all favicons for different sizes. -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}"> <!-- Manifest responsible for working as a web app on mobile devices. -->
    <title>Accommodation - RouteToUni</title>
</head>
<body>
    <div class="topnav">
        <img src="static/images/back.svg" id="back" onclick="backPress()" alt="Back button"/>
        <img src="static/images/back.svg" id="navArrow" alt="Show navigation bar"/>
        <span id="navBubble1" onclick="window.location.assign('/chat');" onmouseover="bubbleHover('#navBubble1')" onmouseout="bubbleLeave('#navBubble1')">
            <img id="navChatImg" src="../static/images/bubbles/chat.png" alt="Chat"/>
            <span class="navBubble1Text">Chat</span></span>
        </span>
        <span id="navBubble2" onclick="window.location.assign('/news');" onmouseover="bubbleHover('#navBubble2')" onmouseout="bubbleLeave('#navBubble2')">
            <img id="navNewsImg" src="../static/images/bubbles/news.png" alt="News"/>
            <span class="navBubble2Text">News</span></span>
        </span>
        <span id="navBubble3" onclick="window.location.assign('/pubs');" onmouseover="bubbleHover('#navBubble3')" onmouseout="bubbleLeave('#navBubble3')">
            <img id="navDrinksImg" src="../static/images/bubbles/drinks.png" alt="Drinks"/>
            <span class="navBubble3Text">Pubs & Clubs</span></span>
        </span>
        <span id="navBubble4" onclick="window.location.assign('/map');" onmouseover="bubbleHover('#navBubble4')" onmouseout="bubbleLeave('#navBubble4')">
            <img id="navLocationImg" src="../static/images/bubbles/location.png" alt="Location"/>
            <span class="navBubble4Text">Campus Map</span></span>
        </span>
        <span id="navBubble5" onclick="window.location.assign('/accommodation');" onmouseover="bubbleHover('#navBubble5')" onmouseout="bubbleLeave('#navBubble5')">
            <img id="navAccommodationImg" src="../static/images/bubbles/home.png" alt="Accommodation"/>
            <span class="navBubble5Text">Accommodation</span></span>
        </span>
        <span id="navBubble6" onclick="window.location.assign('/health');" onmouseover="bubbleHover('#navBubble6')" onmouseout="bubbleLeave('#navBubble6')">
            <img id="navHealthImg" src="../static/images/bubbles/health.png" alt="Health"/>
            <span class="navBubble6Text">Health</span></span>
        </span>
        <span id="navBubble7" onclick="window.location.assign('/societies');" onmouseover="bubbleHover('#navBubble7')" onmouseout="bubbleLeave('#navBubble7')">
            <img id="navContactsImg" src="../static/images/bubbles/people.png" alt="Contacts"/>
            <span class="navBubble7Text">Societies</span></span>
        </span>
        <span id="navBubble8" onclick="window.location.assign('/revision');" onmouseover="bubbleHover('#navBubble8')" onmouseout="bubbleLeave('#navBubble8')">
            <img id="navRevisionImg" src="../static/images/bubbles/revision.png" alt="Revision"/>
            <span class="navBubble8Text">Revision</span></span>
        </span>
    </div>
    <div class="card_container">
        <div class="card_child" id="flip-card-1">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img id="studentaccom" src="static/images/accommodation/studentaccomm.png">
                    <h2 id="title-front">Halls of Residence</h2>
                </div>
                <div class="flip-card-back">
                    <div class="ScrollStyle">
                    <h1 id="title-back">Should I stay in Halls of Residence?</h1>
                    <p>Many students decide to remain in halls of residence in second year,
                    private halls often offer the option to live your friends and facilities such as
                    a games room and a gym may be included in your rent. On site security is
                    also included, which can help students feel safe during their stay.<br/>
                    <b class="bold">Pros:</b>
                            Shorter Contract, Student
                            Neighbours, Security, Facilities
                            and Inclusive Bills.
                        <br/>
                        <b class="bold">Cons:</b>
                            Usually more expensive, often no outdoor space.
                    </p>
                        </div>
                </div>
            </div>
        </div>
        <div class="card_child" id="flip-card-2">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img id="rented" src="static/images/accommodation/rented.png">
                    <h2 id="title-front">Privately Rented Accommodation</h2>
                </div>
                <div class="flip-card-back">
                    <div class="ScrollStyle">
                    <h1 id="title-back">Should I stay in privately rented accommodation?</h1>
                    <p>Many students opt to live in rented homes during their second year,
                    this can often allow for more independence and can be cheaper than living in halls.
                        <br/>
                        <b class="bold">Pros:</b>
                        Move in over Summer, Local
                        community, more choice of room
                        style, might have outdoor space and
                        usually more affordable.<br/>
                        <b class="bold">Cons:</b>
                        Non-student neighbours and might
                        have to travel further in.
                    </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_child" id="flip-card-3">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img id="home" src="static/images/accommodation/home.png">
                    <h2 id="title-front">Living at home</h2>
                </div>
                <div class="flip-card-back">
                    <div class="ScrollStyle">
                    <h1 id="title-back">Should I live at home?</h1>
                    <p>If you live locally, living at home could save you a lot of money.
                    However, the cost of commuting into uni should be considered. Students can get a discount
                    on public transport such as the Metro or Stage Coach Buses, have a look to see if any other
                    bus or transport companies offer a similar discount.
                    Societies usually hold socials every month, and you can still go out with friends
                        so a social life can still be had even though you are not living with flatmates.
                    </div>
                </div>
            </div>
        </div>
        <div class="card_child" id="flip-card-4">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img id="search" src="static/images/accommodation/search.png">
                    <h2 id="title-front">Top Tips</h2>
                </div>
                <div class="flip-card-back">
                    <div class="ScrollStyle">
                    <h1 id="title-back">Advice for finding a home to rent</h1>
                        <ul>
                            <li>Turn on alerts on <a href="https://www.rightmove.co.uk/" target="_blank">Rightmove</a> for houses to rent in the location you want to live so you get notified as soon as they become available.</li>
                            <li>Ring estate agents as sometimes houses advertised are already off the market and they will give you a list of the properties they have available.</li>
                            <li>Check if bills are included in your rent. If they are included make sure to check how much this is, as it might be cheaper to do your own bills.</li>
                            <li>If you like a property but the dates aren’t suitable, you can ask the landlord if the dates can be changed as they can sometimes be lenient.</li>
                            <li>Rent in Jesmond is higher than a lot of surrounding places but it is where all the student bars are and where the majority of students live, but places nearby like Sandyford and Heaton are cheaper</li>
                        </ul>
                        <p>For more detailed advice on finding a property to rent, take a look
                            at <a href="https://www.nusu.co.uk/pageassets/support/sac/housing/Housing-Guide-2020-21.pdf" target="_blank">NUSU's Housing Guide</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_child" id="flip-card-5">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img id="time" src="static/images/accommodation/time.png">
                    <h2 id="title-front">Timeframes</h2>
                </div>
                <div class="flip-card-back">
                    <div class="ScrollStyle">
                    <h1 id="title-back">When should I have sorted my living arrangements for Second Year?</h1>
                    <p>Many students get their accommodation sorted within first semester.
                    However, you shouldn't worry as accommodation can be found all year round.
                    Try to ensure you are living with people you get along well with.
                    If you are struggling to find accommodation or people to live with,
                        take a look at <a href="https://www.facebook.com/groups/275801262577085/" target="_blank">Castle Leasez Ticket Exchange</a>
                        on Facebook, as there are
                    always people looking for additional house mates.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_child" id="flip-card-6">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img id="checklist" src="static/images/accommodation/checklist.png">
                    <h2 id="title-front">Checklist</h2>
                </div>
                <div class="flip-card-back">
                    <div class="ScrollStyle">
                    <h1 id="title-back">Viewing Checklist</h1>
                    <label class="container">Number of bedrooms - Do you have enough people?
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Distance to uni (walk? metro? bus?)
                        <input type="checkbox" >
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Where is the nearest supermarket?
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Is there anything not shown in the photos? Is the landlord avoiding something?
                        <input type="checkbox" >
                        <span class="checkmark"></span>
                    </label>
                    <p id="info">For a more in-depth checklist, have a look at
                        <a href="https://www.nusu.co.uk/pageassets/support/sac/housing/Property-Checklist.pdf" target="_blank">NUSU's
                        Property Checklist.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>