<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="RouteToUni"/>
    <meta name="google-signin-client_id" content="1081173404847-ddjfjkqhfj79u9qiv7lrsajibo3vtgqc.apps.googleusercontent.com"/>
    <script src="static/js/node_modules/animejs/lib/anime.min.js"></script>
    <script src="static/js/animations.js"></script>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="../static/css/flipcard-stylesheet.css">
    <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" href="static/css/mobile-flipcard-stylesheet.css" />
    <title>RouteToUni</title>
</head>
<body>
<div class="topnav">
        <span id="navBubble1" onclick="window.location.assign('/chat');" onmouseover="bubbleHover('#navBubble1')" onmouseout="bubbleLeave('#navBubble1')">
            <img id="navChatImg" src="../static/images/bubbles/chat.png" alt="Chat"/>
            <span class="navBubble1Text">Chat</span></span>
    </span>
    <span id="navBubble2" onclick="window.location.assign('/news');" onmouseover="bubbleHover('#navBubble2')" onmouseout="bubbleLeave('#navBubble2')">
            <img id="navNewsImg" src="../static/images/bubbles/news.png" alt="News"/>
            <span class="navBubble2Text">News</span></span>
    </span>
    <span id="navBubble3" onclick="window.location.assign('/');" onmouseover="bubbleHover('#navBubble3')" onmouseout="bubbleLeave('#navBubble3')">
            <img id="navDrinksImg" src="../static/images/bubbles/drinks.png" alt="Drinks"/>
            <span class="navBubble3Text">Pubs & Clubs</span></span>
    </span>
    <span id="navBubble4" onclick="window.location.assign('/map');" onmouseover="bubbleHover('#navBubble4')" onmouseout="bubbleLeave('#navBubble4')">
            <img id="navLocationImg" src="../static/images/bubbles/location.png" alt="Location"/>
            <span class="navBubble4Text">Campus Map</span></span>
    </span>
    <span id="navBubble5" onclick="window.location.assign('/accommodation');" onmouseover="bubbleHover('#navBubble5')" onmouseout="bubbleLeave('#navBubble5')">
            <img id="navAccommodationImg" src="../static/images/bubbles/home.png" alt="Accommodation"/>
            <span class="navBubble5Text">Accommodation</span></span>
    </span>
    <span id="navBubble6" onclick="window.location.assign('/');" onmouseover="bubbleHover('#navBubble6')" onmouseout="bubbleLeave('#navBubble6')">
            <img id="navHealthImg" src="../static/images/bubbles/health.png" alt="Health"/>
            <span class="navBubble6Text">Health</span></span>
    </span>
    <span id="navBubble7" onclick="window.location.assign('/');" onmouseover="bubbleHover('#navBubble7')" onmouseout="bubbleLeave('#navBubble7')">
            <img id="navContactsImg" src="../static/images/bubbles/people.png" alt="Contacts"/>
            <span class="navBubble7Text">Societies</span></span>
    </span>
    <span id="navBubble8" onclick="window.location.assign('/');" onmouseover="bubbleHover('#navBubble8')" onmouseout="bubbleLeave('#navBubble8')">
            <img id="navRevisionImg" src="../static/images/bubbles/revision.png" alt="Revision"/>
            <span class="navBubble8Text">Revision</span></span>
    </span>
</div>
<div id="flip-card-1">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img id="m_health" src="../static/images/health/m_health.png">
            <h2 id="title-front">Mental Health</h2>
        </div>
        <div class="flip-card-back">
            <h1 id="title-back">How can I look after my mental health while at uni?</h1>
            <p id="info">Nurture your wellbeing by following the <a href="https://www.mind.org.uk/workplace/mental-health-at-work/taking-care-of-yourself/five-ways-to-wellbeing/" >Five Steps to Wellbeing:</a></p>
            <ol>
            <li>Connect with Others</li>
            <li>Be Active</li>
            <li>Keep Learning</li>
                <li><a href="https://www.nusu.co.uk/volunteering/govolunteer/" target="_blank">Give to Others</a></li>
            <li>Be Mindful</li>
            </ol>
            <p id="info">The University offers free online CBT sessions via <a href="https://www.ncl.ac.uk/wellbeing/mentalwellbeing/online-cbt/" target="_blank">Silvercloud.</a><br/>
                For more information on support and resources available please click <a href="https://www.ncl.ac.uk/wellbeing/mentalwellbeing/mentalwellbeing/#mentalhealthinformation" target="_blank">here.</a><br/>
                If you need support, please don't hesitate to contact <a href="https://www.ncl.ac.uk/wellbeing/mentalwellbeing/#wellbeingconsultancyservice" target="_blank">Student Welfare</a>
                who will be able to offer you support and guidance.
            </p>

        </div>
    </div>
</div>
<div id="flip-card-2">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img id="doctor" src="../static/images/health/doctor.png">
            <h2 id="title-front">Register With a GP and Dentist</h2>
        </div>
        <div class="flip-card-back">
            <h1 id="title-back">How can I find a doctor or dentist in Newcastle?</h1>
            <p id="info"> It is essential you look after your health while at uni
                and make sure you have regular check ups with your dentist and
                visit your GP when needed.<br/>
                You can register with a GP here: <a href="https://www.studentgpreg.org.uk/" target="_blank">https://www.studentgpreg.org.uk/</a>
            You can find local Dentist surgeries here: <a href="https://www.nhs.uk/Service-Search/find-a-dentist" target="_blank">https://www.nhs.uk/Service-Search/find-a-dentist</a>
            </p>
        </div>
    </div>
</div>
<div id="flip-card-3">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img id="s_health" src="../static/images/health/s_health.png">
            <h2 id="title-front">Sexual Health</h2>
        </div>
        <div class="flip-card-back">
            <h1 id="title-back">How can I look after my sexual health while at uni?</h1>
            <p id="info">Newcastle Sexual Health Service provides a wide range
                of free and confidential sexual health services including:</p>
                <ul>
            <li id="list">contraception</li>
            <li id="list">testing for sexually transmitted infections (STIs or STDs)</li>
            <li id="list">information on abortion services</li>
            <li id="list">walk-in clinics</li>
            <li id="list">booked appointments</li>
                </ul>
            <p id="info">There are free condoms, lubricant, home chlamydia testing kits
                and emergency sanitary products available in the <a href="https://www.nusu.co.uk/support/sac/health/" target="_blank>">Student Advice Centre.</a>
            </p>
        </div>
    </div>
</div>
<div id="flip-card-4">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img id="pec1" src="../static/images/health/pec1.png">
            <h2 id="title-front">PEC Forms</h2>
        </div>
        <div class="flip-card-back">
            <h1 id="title-back">What is a Pec Form?</h1>
                <p id="info">If you believe your study or ability to complete
                    assessments is being seriously affected by unforeseen and unavoidable
                    personal extenuating circumstances you should advise your academic unit
                    by completing the
                    <a href="https://www.ncl.ac.uk/student-progress/circumstances/pec/" target="_blank">Personal Extenuating Circumstances (PEC) Form</a>
                    via S3P. This is so appropriate adjustments can be considered.
                    </p>
            </div>
        </div>
    </div>
</div>
<div id="flip-card-5">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img id="pec2" src="../static/images/health/pec.png">
            <h2 id="title-front">Submitting a PEC Form</h2>
        </div>
        <div class="flip-card-back">
            <h1 id="title-back">How do I submit a PEC form?</h1>
            <p id="info"></p>
            <iframe id="video" src="https://www.youtube.com/embed/KFWBczJukmo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div id="flip-card-6">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <img id="coronavirus" src="../static/images/health/rona.png">
            <h2 id="title-front">Coronavirus</h2>
        </div>
        <div class="flip-card-back">
            <h1 id="title-back">What is the latest guidance on Coronavirus?</h1>
            <p id="info">For the latest advice on the Coronavirus pandemic, please
                see the <a href="https://www.gov.uk/coronavirus?gclid=Cj0KCQiA9P__BRC0ARIsAEZ6iriF52GGVpePw0laDc8XmJLG6WIl-sL5ROwJbaNnLEhWvyxVv3cp2CAaAiD5EALw_wcB" target="_blank">government website</a> or
                visit the <a href="https://enquire.ncl.ac.uk/en/covid-19-faqs" target="_blank">University FAQ page.</a>
            To report symptoms or access support from the uni regarding coronavirus
                please contact <a href="https://www.ncl.ac.uk/wellbeing/coronavirus-studentsupport/" target="_blank">Student Support</a></p>
        </div>
    </div>
</div>
</body>
</html>