<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="RouteToUni"/>
    <meta name="google-signin-client_id" content="1081173404847-ddjfjkqhfj79u9qiv7lrsajibo3vtgqc.apps.googleusercontent.com"/>
    <script src="static/js/node_modules/animejs/lib/anime.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" href="static/css/mobile-stylesheet.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <title>RouteToUni</title>

    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger id="chatbot"
            intent="WELCOME"
            chat-title="Route2Uni Helpbot"
            chat-icon="../static/images/bubbles/help.png"
            agent-id="605e3a24-4b9c-400a-ac8d-5a8a6062f37f"
            language-code="en"
    ></df-messenger>

</head>
<body>
    <div id="homeLayout" onclick="newFireWorkStar(event.pageX - container.offsetLeft, event.pageY - container.offsetTop);">
        <img src="static/images/back.svg" id="back" onclick="backPress()" alt="Back button"/>
        <span id="login" onmouseover="bubbleHover('#login')" onmouseout="bubbleLeave('#login')" onclick="checkLogin()">Login</span>

        <div id="universityHeading">
            <img src="static/images/newcasltelogo.png" id="newcastleLogo" alt="Newcastle University logo"/>
            <h1 id="newcastleText">Newcastle</h1>
            <h1 id="universityText">University</h1>
        </div>

        <span id="bubble1" onclick="bubbleClick('bubble1', '#chatImg', 'chat')" onmouseover="bubbleHover('#bubble1')" onmouseout="bubbleLeave('#bubble1')">
            <img id="chatImg" src="../static/images/bubbles/chat.png" alt="Chat"/>
            <span class="bubble1Text">Chat</span></span>
        <span id="bubble2" onclick="bubbleClick('bubble2', '#newsImg', 'news')" onmouseover="bubbleHover('#bubble2')" onmouseout="bubbleLeave('#bubble2')">
            <img id="newsImg" src="../static/images/bubbles/news.png" alt="News"/>
            <span class="bubble2Text">News</span></span></span>
        <span id="bubble3" onclick="bubbleClick('bubble3', '#drinksImg', 'pubs')" onmouseover="bubbleHover('#bubble3')" onmouseout="bubbleLeave('#bubble3')">
            <img id="drinksImg" src="../static/images/bubbles/drinks.png" alt="Drinks"/>
            <span class="bubble3Text">Pubs & Clubs</span></span></span>
        <span id="bubble4" onclick="bubbleClick('bubble4', '#locationImg', 'map')" onmouseover="bubbleHover('#bubble4')" onmouseout="bubbleLeave('#bubble4')">
            <img id="locationImg" src="../static/images/bubbles/location.png" alt="Location"/>
            <span class="bubble4Text">Campus Map</span></span></span>
        <span id="bubble5" onclick="bubbleClick('bubble5', '#accommodationImg', 'accommodation')" onmouseover="bubbleHover('#bubble5')" onmouseout="bubbleLeave('#bubble5')">
            <img id="accommodationImg" src="../static/images/bubbles/home.png" alt="Accommodation"/>
            <span class="bubble5Text">Accommodation</span></span></span>
        <span id="bubble6" onclick="bubbleClick('bubble6', '#healthImg', 'health')" onmouseover="bubbleHover('#bubble6')" onmouseout="bubbleLeave('#bubble6')">
            <img id="healthImg" src="../static/images/bubbles/health.png" alt="Health"/>
            <span class="bubble6Text">Health</span></span></span>
        <span id="bubble7" onclick="bubbleClick('bubble7', '#contactsImg', 'societies')" onmouseover="bubbleHover('#bubble7')" onmouseout="bubbleLeave('#bubble7')">
            <img id="contactsImg" src="../static/images/bubbles/people.png" alt="Contacts"/>
            <span class="bubble7Text">Societies</span></span></span>
        <span id="bubble8" onclick="bubbleClick('bubble8', '#revisionImg', 'revision')" onmouseover="bubbleHover('#bubble8')" onmouseout="bubbleLeave('#bubble8')">
            <img id="revisionImg" src="../static/images/bubbles/revision.png" alt="Revision"/>
            <span class="bubble8Text">Revision</span></span></span>
    </div>

    <script src="static/js/animations.js"></script>
    <script src="static/js/fireworks.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Initialize Firebase -->
    <script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-database.js"></script>
    <script src="static/js/init.js"></script>
    <script src="static/js/auth.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>
    <script>
        window.onLoadCallback = function(){

        }
    </script>

    <script>
        // Check if a user is logged in.
        var loginBtn = document.getElementById("login");
        var loggedIn = false;

        var user = JSON.parse('{{ user | tojson | safe}}');

        if (user) {
            loginBtn.textContent = "Logout";
            loggedIn = true;
        } else {
            loggedIn = false;
        }

        function checkLogin() {
            if (loggedIn) {
                logout();
            } else {
                loginPageTransition('#homeLayout', 'login');
            }
        }
    </script>
</body>
</html>