<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - RouteToUni</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
	</script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="static/js/node_modules/animejs/lib/anime.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
</head>
<body>


    <div id="loginDialog" class="loginDialog">
        <div class="loginDialogContent">

            <h3>Login</h3>
            <label for="loginEmail"></label><input type="email" name="email" id="loginEmail" placeholder="Email" style="font-family: Nunito"><br><br>

            <label for="loginPassword"></label><input type="password" name="password" id="loginPassword" placeholder="Password" style="font-family: Nunito"><br><br>

            <button onclick="login(document.getElementById('loginEmail').value, document.getElementById('loginPassword').value)" id="loginBtn" style="font-family: Nunito">Login</button>

            <br><br><button onclick="handleAuthClick()" id="googleSignIn" style="font-family: Nunito">Sign in with Google</button>

            <br><br><div style="text-align: center"><a onclick="getSignUp()" id="registerLink" style="font-family: Nunito">Don't have an account? Register here</a></div>
        </div>
    </div>


    <div id="signUpDialog" class="signUpDialog">
        <div class="signUpDialogContent">
            <h3>Sign Up</h3>

            <label for="firstName"></label><input type="text" name="name" id="firstName" placeholder="First Name" style="font-family: Nunito"><label for="lastName"></label><input type="text" name="name" id="lastName" placeholder="Surname" style="font-family: Nunito"><br><br>

            <label for="signUpEmail"></label><input type="email" name="email" id="signUpEmail" placeholder="Email" style="font-family: Nunito"><br><br>

            <label for="signUpPassword"></label><input type="password" name="password" id="signUpPassword" placeholder="Password" style="font-family: Nunito"><label for="signUpPassword"></label><input type="password" name="password" id="signUpPasswordRepeat" placeholder="Repeat Password" style="font-family: Nunito"><br><br>

            <select name="courses" id="courses">
                <option value="blank">Select your school</option>
                <option value="architecture">School of Architecture, Planning and Landscape</option>
                <option value="artsAndCulture">School of Arts and Cultures</option>
                <option value="business">Business School</option>
                <option value="honoursCentre">Combined Honours Centre</option>
                <option value="educationCommunication">School of Education, Communication and Language Sciences</option>
                <option value="english">School of English Literature, Language and Linguistics</option>
                <option value="geography">School of Geography, Politics and Sociology</option>
                <option value="history">School of History, Classics and Archaeology</option>
                <option value="law">Newcastle Law School</option>
                <option value="modernLang">School of Modern Languages</option>
                <option value="philosophical">Philosophical Studies</option>
                <option value="biomed">School of Biomedical, Nutritional and Sport Sciences</option>
                <option value="dental">School of Dental Sciences</option>
                <option value="medical">School of Medical Education</option>
                <option value="pharmacy">School of Pharmacy</option>
                <option value="psychology">School of Psychology</option>
                <option value="computing">School of Computing</option>
                <option value="engineering">School of Engineering</option>
                <option value="mathematics">School of Mathematics, Statistics and Physics</option>
                <option value="environmental">School of Natural and Environmental Sciences</option>
            </select><br><br>

            <select name="roles" id="roles">
                <option value="blank">Select your role</option>
                <option value="student">Student</option>
                <option value="mentor">Peer Mentor</option>
            </select><br><br>

            <button onclick="signUp(document.getElementById('firstName').value, document.getElementById('lastName').value, document.getElementById('courses').options[document.getElementById('courses').selectedIndex].text, document.getElementById('roles').options[document.getElementById('roles').selectedIndex].text, document.getElementById('signUpEmail').value, document.getElementById('signUpPassword').value)" id="signUpBtn" style="font-family: Nunito">Sign Up</button>
            <br><br><button onclick="handleAuthClick()" id="googleSignIn" style="font-family: Nunito">Sign in with Google</button>

            <br><br><div style="text-align: center"><a onclick="getLogin()" id="registerLink" style="font-family: Nunito">Already have an account? Sign in here</a></div>
        </div>
    </div>

    <script>
        // Animate sign up box to slide from right hand side.
        let page2Transition = anime({
            targets: '#loginDialog',
            translateX: [1500, 0], duration: 750,
            easing: 'easeInOutQuad'
        });

        // Login on enter press when password field is highlighted.
        var input = document.getElementById("loginPassword");
        input.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("loginBtn").click();
            }
        });

        function getSignUp() {
            let loginAnim = anime({
                targets: '#loginDialog',
                translateX: [0, 1500], duration: 750,
                easing: 'easeInOutQuad'
            });

            let signUpAnim = anime({
                targets: '#signUpDialog',
                translateX: [-1500, 0], duration: 750,
                easing: 'easeInOutQuad'
            });
        }

        function getLogin() {
            let signUpAnim = anime({
                targets: '#signUpDialog',
                translateX: [0, -1500], duration: 750,
                easing: 'easeInOutQuad'
            });

            let loginAnim = anime({
                targets: '#loginDialog',
                translateX: [1500, 0], duration: 750,
                easing: 'easeInOutQuad'
            });
        }
    </script>

    <!-- Initialize Firebase -->
    <script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-database.js"></script>
    <script src="static/js/init.js"></script>
    <script src="static/js/auth.js"></script>

    <script>
        // Change the select box to 'select2' library.
        $(document).ready(function() {
            $('#courses').select2();
            $('#roles').select2();
        });


        // Followed these instructions for google sign in:
        //https://firebase.google.com/docs/auth/web/google-signin#advanced-handle-the-sign-in-flow-manually
        function handleAuthClick() {
            var provider = new firebase.auth.GoogleAuthProvider();
            provider.addScope('profile');
            provider.addScope('email');

        firebase.auth().signInWithPopup(provider).then(function(result) {
            var user = result.user;
            var isNewUser = result.additionalUserInfo.isNewUser;
            onSignIn(user, isNewUser);
        }).catch(function(error) {
            // Handle Errors here.
            var errorCode = error.code;
            var errorMessage = error.message;
            // The email of the user's account used.
            var email = error.email;
            // The firebase.auth.AuthCredential type that was used.
            var credential = error.credential;
            // ...
            });
        }

        function onSignIn(googleUser, isNewUser) {
            console.log('Google Auth Response', googleUser);
            // We need to register an Observer on Firebase Auth to make sure auth is initialized.
            var unsubscribe = firebase.auth().onAuthStateChanged((firebaseUser) => {
                unsubscribe();
                // Check if we are already signed-in Firebase with the correct user.
                if (!isUserEqual(googleUser, firebaseUser)) {
                    // Build Firebase credential with the Google ID token.
                    var credential = firebase.auth.GoogleAuthProvider.credential(googleUser.getAuthResponse().id_token);

                    // Sign in with credential from the Google user.
                    firebase.auth().signInWithCredential(credential).catch((error) => {
                        // Handle Errors here.
                        var errorCode = error.code;
                        var errorMessage = error.message;
                        // The email of the user's account used.
                        var email = error.email;
                        // The firebase.auth.AuthCredential type that was used.
                        var credential = error.credential;
                        // ...
                    });
                    addCookieRedirect();

                } else {
                    console.log('User already signed-in Firebase.');

                    if (isNewUser) {
                        sessionStorage.setItem("name", googleUser.displayName);
                        sessionStorage.setItem('email', googleUser.email);
                        sessionStorage.setItem('uid', googleUser.uid);

                        window.location.assign('/gregister');
                    } else {
                        addCookieRedirect();
                    }
                }
            });
        }

        function addCookieRedirect(){
            firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);
            firebase.auth().currentUser.getIdToken(true).then(idToken => {
            fetch('/sessionLogin?idToken=' + idToken).then(()=> {
                window.location.assign('/');
                return firebase.auth().signOut();})
            });
        }

        function isUserEqual(googleUser, firebaseUser) {
            if (firebaseUser) {
                var providerData = firebaseUser.providerData;
                for (var i = 0; i < providerData.length; i++) {
                    if (providerData[i].providerId === firebase.auth.GoogleAuthProvider.PROVIDER_ID &&
                            providerData[i].uid === googleUser.providerData[i].uid) {
                        return true;
                    }
                }
            }
            return false;
        }
    </script>
</body>
</html>