<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="RouteToUni"/>
    <meta name="google-signin-client_id" content="1081173404847-ddjfjkqhfj79u9qiv7lrsajibo3vtgqc.apps.googleusercontent.com"/>
    <script src="static/js/node_modules/animejs/lib/anime.min.js"></script>
    <link rel="stylesheet" href="../static/css/news-stylesheet.css">
    <title>RouteToUni</title>
</head>
<body>
    {%for item in data %}
    <article>
    <h3>{{item}}</h3>
        <p>{{ thing }}</p>
        <p>{{ Date }}</p>
        <p>{{ URL }}</p>
    </article>
        <p></p>
    {% endfor %}
</body>
<script>
    function news_list(){


    }
</script>
</html>