<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="RouteToUni"/>
    <meta name="google-signin-client_id" content="1081173404847-ddjfjkqhfj79u9qiv7lrsajibo3vtgqc.apps.googleusercontent.com"/>
    <link rel="stylesheet" href="../static/css/flipcard-stylesheet.css">
    <title>RouteToUni</title>
</head>
<body>
    <div id="flip-card-1">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                {% for key, value in news_data.items() %}
                <h1>{{ key }}</h1>
            </div>
            <div class="flip-card-back">
                <p>{{ news_data[key]['Description'] }}</p>
                <p>{{ news_data[key]['Date'] }}</p>
                <p>{{ news_data[key]['URL'] }}</p>
            </div>
        </div>
    </div>
    <div id="flip-card-2">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1>{{ key }}</h1>
            </div>
            <div class="flip-card-back">
                <p>{{ news_data[key]['Description'] }}</p>
                <p>{{ news_data[key]['Date'] }}</p>
                <p>{{ news_data[key]['URL'] }}</p>
            </div>
        </div>
    </div>
    <div id="flip-card-3">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1>{{ key }}</h1>
            </div>
            <div class="flip-card-back">
                <p>{{ news_data[key]['Description'] }}</p>
                <p>{{ news_data[key]['Date'] }}</p>
                <p>{{ news_data[key]['URL'] }}</p>
            </div>
        </div>
    </div>
    <div id="flip-card-4">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1>{{ key }}</h1>
            </div>
            <div class="flip-card-back">
                <p>{{ news_data[key]['Description'] }}</p>
                <p>{{ news_data[key]['Date'] }}</p>
                <p>{{ news_data[key]['URL'] }}</p>
            </div>
        </div>
    </div>
    <div id="flip-card-5">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1>{{ key }}</h1>
            </div>
            <div class="flip-card-back">
                <p>{{ news_data[key]['Description'] }}</p>
                <p>{{ news_data[key]['Date'] }}</p>
                <p>{{ news_data[key]['URL'] }}</p>
            </div>
        </div>

    </div>
    <div id="flip-card-6">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1>{{ key }}</h1>
            </div>
            <div class="flip-card-back">
                <p>{{ news_data[key]['Description'] }}</p>
                <p>{{ news_data[key]['Date'] }}</p>
                <p>{{ news_data[key]['URL'] }}{% endfor %}</p>
            </div>
        </div>
    </div>
</body>
<script>
</script>
</html>