<!--
Name: Maya Vandra

This is the pubs.html page which provides information about pubs, clubs and bars in Newcastle, and tips on staying safe.
-->

<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="RouteToUni"/>
    <meta name="google-signin-client_id" content="1081173404847-ddjfjkqhfj79u9qiv7lrsajibo3vtgqc.apps.googleusercontent.com"/>
    <script src="static/js/node_modules/animejs/lib/anime.min.js"></script>
    <script src="static/js/animations.js"></script>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="../static/css/flipcard_stylesheet.css">
    <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" href="../static/css/mobile_flipcard_stylesheet.css" />
    <title>RouteToUni</title>
</head>
<body>
    <div class="topnav">
        <img src="static/images/back.svg" id="back" onclick="backPress()" alt="Back button"/>
        <img src="static/images/back.svg" id="navArrow" alt="Show navigation bar"/>
        <span id="navBubble1" onclick="window.location.assign('/chat');" onmouseover="bubbleHover('#navBubble1')" onmouseout="bubbleLeave('#navBubble1')">
            <img id="navChatImg" src="../static/images/bubbles/chat.png" alt="Chat"/>
            <span class="navBubble1Text">Chat</span></span>
        </span>
        <span id="navBubble2" onclick="window.location.assign('/news');" onmouseover="bubbleHover('#navBubble2')" onmouseout="bubbleLeave('#navBubble2')">
            <img id="navNewsImg" src="../static/images/bubbles/news.png" alt="News"/>
            <span class="navBubble2Text">News</span></span>
        </span>
        <span id="navBubble3" onclick="window.location.assign('/pubs');" onmouseover="bubbleHover('#navBubble3')" onmouseout="bubbleLeave('#navBubble3')">
            <img id="navDrinksImg" src="../static/images/bubbles/drinks.png" alt="Drinks"/>
            <span class="navBubble3Text">Pubs & Clubs</span></span>
        </span>
        <span id="navBubble4" onclick="window.location.assign('/map');" onmouseover="bubbleHover('#navBubble4')" onmouseout="bubbleLeave('#navBubble4')">
            <img id="navLocationImg" src="../static/images/bubbles/location.png" alt="Location"/>
            <span class="navBubble4Text">Campus Map</span></span>
        </span>
        <span id="navBubble5" onclick="window.location.assign('/accommodation');" onmouseover="bubbleHover('#navBubble5')" onmouseout="bubbleLeave('#navBubble5')">
            <img id="navAccommodationImg" src="../static/images/bubbles/home.png" alt="Accommodation"/>
            <span class="navBubble5Text">Accommodation</span></span>
        </span>
        <span id="navBubble6" onclick="window.location.assign('/health');" onmouseover="bubbleHover('#navBubble6')" onmouseout="bubbleLeave('#navBubble6')">
            <img id="navHealthImg" src="../static/images/bubbles/health.png" alt="Health"/>
            <span class="navBubble6Text">Health</span></span>
        </span>
        <span id="navBubble7" onclick="window.location.assign('/societies');" onmouseover="bubbleHover('#navBubble7')" onmouseout="bubbleLeave('#navBubble7')">
            <img id="navContactsImg" src="../static/images/bubbles/people.png" alt="Contacts"/>
            <span class="navBubble7Text">Societies</span></span>
        </span>
        <span id="navBubble8" onclick="window.location.assign('/revision');" onmouseover="bubbleHover('#navBubble8')" onmouseout="bubbleLeave('#navBubble8')">
            <img id="navRevisionImg" src="../static/images/bubbles/revision.png" alt="Revision"/>
            <span class="navBubble8Text">Revision</span></span>
        </span>
    </div>
    <div class="card_container">
        <div class="card_child" id="flip-card-1">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img id="clubs" src="static/images/pubs_and_clubs/best_clubs.png">
                <h2 id="title-front">Best Clubs in Newcastle</h2>
            </div>
            <div class="flip-card-back">
                <div class="ScrollStyle">
                    <h1 id="title-back">There are lots of clubs in Newcastle. Here are some of the best to go to:</h1>
                    <ul>
                        <li>Soho</li>
                        <li>Digital</li>
                        <li>Market Shaker</li>
                        <li>Bijoux</li>
                        <li>Bierkeller</li>
                        <li>Flares</li>
                        <li>World HQ</li>
                        <li>Sinners</li>
                        <li>Grey's Club</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <div class="card_child" id="flip-card-2">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img id="pubs" src="static/images/pubs_and_clubs/best_pubs.png">
                    <h2 id="title-front">Best Pubs in Newcastle</h2>
                </div>
                <div class="flip-card-back">
                    <div class="ScrollStyle">
                    <h1 id="title-back">You can enjoy drinks with friends at these pubs:</h1>
                    <ul>
                        <li>Dog and Parrot</li>
                        <li>The Central Bar</li>
                        <li>The Tyne Bar</li>
                        <li>Brewdog</li>
                        <li>The Town Wall</li>
                        <li>Lady Grey's</li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_child" id="flip-card-3">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img id="bars" src="static/images/pubs_and_clubs/best_bars.png">
                    <h2 id="title-front">Best Bars in Newcastle</h2>
                </div>
                <div class="flip-card-back">
                    <div class="ScrollStyle">
                    <h1 id="title-back">You can sit and enjoy cocktails with friends at these bars:</h1>
                    <ul>
                        <li>The Botanist</li>
                        <li>The Alchemist</li>
                        <li>Lola Jean</li>
                        <li>Slug and Lettuce</li>
                        <li>Jam Jar</li>
                        <li>Florita's</li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_child" id="flip-card-4">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img id="drinks" src="static/images/pubs_and_clubs/best_drinks.png">
                    <h2 id="title-front">Best Drinks to Order</h2>
                </div>
                <div class="flip-card-back">
                    <div class="ScrollStyle">
                    <h1 id="title-back">Here are some good drink choices to try next time you're out:</h1>
                      <ul>
                        <li>Cocktails - Mojito, Daiquiri, Martini</li>
                        <li>Spirits - Vodka + Lemonade/Red Bull</li>
                        <li>Wines - Sauvignon, Merlot, Chardonnay</li>
                        <li>Beers - San Miguel, Guinnes, Bulmers</li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_child" id="flip-card-5">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img id="tips" src="static/images/pubs_and_clubs/top_tips.png">
                    <h2 id="title-front">Top Tips for Clubbing</h2>
                </div>
                <div class="flip-card-back">
                    <div class="ScrollStyle">
                    <h1 id="title-back">Here's some advice to ensure you have a good night out:</h1>
                         <ul>
                        <li>Pre-drink at home to save some money. Drinks can be expensive in clubs!</li>
                        <li>Know your limits. Don’t buy more drinks if you feel you don’t need it. You can always ask for water instead. </li>
                        <li>Agree with a friend to go home together so you don’t end up walking home on your own. If you do end up alone, order a taxi instead of walking on your own. </li>
                        <li>At the end of the night, make sure to eat some food and drink lots of water </li>
                    </ul>
                    </div>
                </div>
                </div>
            </div>
        <div class="card_child" id="flip-card-6">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img id="safe" src="static/images/pubs_and_clubs/staying_safe.png">
                    <h2 id="title-front">Staying Safe</h2>
                </div>
                <div class="flip-card-back">
                    <div class="ScrollStyle">
                    <h1 id="title-back">Staying Safe</h1>
                    <p><h4> Newcastle University Safe Taxi Scheme.</h4>
                    If you have no money to get home but have your student card, you can call 0191 298 5050 and quote reference NEW02 to get a taxi home.</p>
                    <p>If you are in an emergency, call 999 for assistance.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>