<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="1081173404847-ddjfjkqhfj79u9qiv7lrsajibo3vtgqc.apps.googleusercontent.com"/>
    <title>Register - RouteToUni</title>
    <script src="static/js/node_modules/animejs/lib/anime.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
</head>
<body>
    <div id="signUpDialog" class="signUpDialog">
        <div class="signUpDialogContent">
            <h3>Sign Up</h3>

            <label for="firstName"></label><input type="text" name="name" id="firstName" placeholder="First Name" style="font-family: Nunito"><label for="lastName"></label><input type="text" name="name" id="lastName" placeholder="Surname" style="font-family: Nunito"><br><br>

            <label for="signUpEmail"></label><input type="email" name="email" id="signUpEmail" placeholder="Email" style="font-family: Nunito"><br><br>

            <label for="signUpPassword"></label><input type="password" name="password" id="signUpPassword" placeholder="Password" style="font-family: Nunito"><br><br>

            <button onclick="signUp()" id="signUpBtn" style="font-family: Nunito">Sign Up</button>
            <hr><div id="g-signin" class="g-signin2" data-onsuccess="onSignIn" style></div>
        </div>
    </div>

    <script>
       let page2Transition = anime({
                targets: '#signUpDialog',
                translateX: [1500, 0], duration: 750,
                easing: 'easeInOutQuad'
            });
    </script>

    <script>
    function onSuccess(googleUser) {

      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());

    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('g-signin', {
        'scope': 'profile email',
        'width': 300,
        'height': 50,
        'longtitle': true,
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
    </script>

    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</body>
</html>