<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="RouteToUni"/>
    <meta name="google-signin-client_id" content="1081173404847-ddjfjkqhfj79u9qiv7lrsajibo3vtgqc.apps.googleusercontent.com"/>
    <script src="static/js/node_modules/animejs/lib/anime.min.js"></script>
    <script src="static/js/animations.js"></script>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="../static/css/revision_flipcard_stylesheet.css">
    <title>RouteToUni</title>
</head>
<body>
    <div class="topnav">
        <span id="navBubble1" onclick="window.location.assign('/chat');" onmouseover="bubbleHover('#navBubble1')" onmouseout="bubbleLeave('#navBubble1')">
            <img id="navChatImg" src="../static/images/bubbles/chat.png" alt="Chat"/>
            <span class="navBubble1Text">Chat</span></span>
        </span>
        <span id="navBubble2" onclick="window.location.assign('/news');" onmouseover="bubbleHover('#navBubble2')" onmouseout="bubbleLeave('#navBubble2')">
            <img id="navNewsImg" src="../static/images/bubbles/news.png" alt="News"/>
            <span class="navBubble2Text">News</span></span>
        </span>
        <span id="navBubble3" onclick="window.location.assign('/');" onmouseover="bubbleHover('#navBubble3')" onmouseout="bubbleLeave('#navBubble3')">
            <img id="navDrinksImg" src="../static/images/bubbles/drinks.png" alt="Drinks"/>
            <span class="navBubble3Text">Pubs & Clubs</span></span>
        </span>
        <span id="navBubble4" onclick="window.location.assign('/map');" onmouseover="bubbleHover('#navBubble4')" onmouseout="bubbleLeave('#navBubble4')">
            <img id="navLocationImg" src="../static/images/bubbles/location.png" alt="Location"/>
            <span class="navBubble4Text">Campus Map</span></span>
        </span>
        <span id="navBubble5" onclick="window.location.assign('/');" onmouseover="bubbleHover('#navBubble5')" onmouseout="bubbleLeave('#navBubble5')">
            <img id="navAccommodationImg" src="../static/images/bubbles/home.png" alt="Accommodation"/>
            <span class="navBubble5Text">Accommodation</span></span>
        </span>
        <span id="navBubble6" onclick="window.location.assign('/');" onmouseover="bubbleHover('#navBubble6')" onmouseout="bubbleLeave('#navBubble6')">
            <img id="navHealthImg" src="../static/images/bubbles/health.png" alt="Health"/>
            <span class="navBubble6Text">Health</span></span>
        </span>
        <span id="navBubble7" onclick="window.location.assign('/');" onmouseover="bubbleHover('#navBubble7')" onmouseout="bubbleLeave('#navBubble7')">
            <img id="navContactsImg" src="../static/images/bubbles/people.png" alt="Contacts"/>
            <span class="navBubble7Text">Societies</span></span>
        </span>
        <span id="navBubble8" onclick="window.location.assign('/');" onmouseover="bubbleHover('#navBubble8')" onmouseout="bubbleLeave('#navBubble8')">
            <img id="navRevisionImg" src="../static/images/bubbles/revision.png" alt="Revision"/>
            <span class="navBubble8Text">Revision</span></span>
        </span>
    </div>

    <div id="flip-card-1">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h3>NOTETAKING</h3>
                <p></p>
            </div>
            <div class="flip-card-back">
                <ul>
                    <li>Experiment with different techniques during the first few weeks to find out what works best for you.</li>
                    <li>Keep your notes organised – if you can’t find them, there’s no point taking them! Use different notebooks for each module so that your notes do not get mixed up.</li>
                    <li>Read around topics – consult recommended texts for more detailed information. Don’t expect to get all of the required information during the lecture.</li>
                    <li>Be wary of taking too many notes. Try consolidating your notes into one document for revision purposes.</li>
                    <li>Use colour to draw attention to important details – buy plenty of coloured pens!</li>
                    <li>Read lecture outcomes in the module handbooks and any handouts before a lecture so that you have a good synopsis of what the lecture will cover.</li>
                    <li>Write notes on any PowerPoint handouts next to the appropriate slide.</li>
                    <li>Do not try to write everything that the lecturer is saying – note key points and items which are not on any lecture handouts. Use bullet points to note things down quickly.</li>
                    <li>Sometimes it is more productive to just listen during the lecture and then make notes later using Recap.</li>
                </ul>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
    <div id="flip-card-2">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h3>REFERENCING</h3>
            </div>
            <div class="flip-card-back">
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
    <div id="flip-card-3">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h3>EXAMS AND REVISION</h3>
            </div>
            <div class="flip-card-back">
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
    <div id="flip-card-4">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h3>UNIVERSITY LIBRARY</h3>
            </div>
            <div class="flip-card-back">
                <p></p>
                <p></p>
            </div>
        </div>
    </div>

</body>
</html>