<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="RouteToUni"/>
    <meta name="google-signin-client_id" content="1081173404847-ddjfjkqhfj79u9qiv7lrsajibo3vtgqc.apps.googleusercontent.com"/>
    <script src="static/js/node_modules/animejs/lib/anime.min.js"></script>
    <script src="static/js/animations.js"></script>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="../static/css/flipcard-stylesheet.css">
    <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" href="static/css/mobile-flipcard-stylesheet.css" />
    <title>RouteToUni</title>
</head>
<body>
    <div class="topnav">
        <img src="static/images/back.svg" id="back" onclick="backPress()" alt="Back button"/>
        <img src="static/images/back.svg" id="navArrow" alt="Show navigation bar"/>
        <span id="navBubble1" onclick="window.location.assign('/chat');" onmouseover="bubbleHover('#navBubble1')" onmouseout="bubbleLeave('#navBubble1')">
            <img id="navChatImg" src="../static/images/bubbles/chat.png" alt="Chat"/>
            <span class="navBubble1Text">Chat</span></span>
        </span>
        <span id="navBubble2" onclick="window.location.assign('/news');" onmouseover="bubbleHover('#navBubble2')" onmouseout="bubbleLeave('#navBubble2')">
            <img id="navNewsImg" src="../static/images/bubbles/news.png" alt="News"/>
            <span class="navBubble2Text">News</span></span>
        </span>
        <span id="navBubble3" onclick="window.location.assign('/pubs');" onmouseover="bubbleHover('#navBubble3')" onmouseout="bubbleLeave('#navBubble3')">
            <img id="navDrinksImg" src="../static/images/bubbles/drinks.png" alt="Drinks"/>
            <span class="navBubble3Text">Pubs & Clubs</span></span>
        </span>
        <span id="navBubble4" onclick="window.location.assign('/map');" onmouseover="bubbleHover('#navBubble4')" onmouseout="bubbleLeave('#navBubble4')">
            <img id="navLocationImg" src="../static/images/bubbles/location.png" alt="Location"/>
            <span class="navBubble4Text">Campus Map</span></span>
        </span>
        <span id="navBubble5" onclick="window.location.assign('/accommodation');" onmouseover="bubbleHover('#navBubble5')" onmouseout="bubbleLeave('#navBubble5')">
            <img id="navAccommodationImg" src="../static/images/bubbles/home.png" alt="Accommodation"/>
            <span class="navBubble5Text">Accommodation</span></span>
        </span>
        <span id="navBubble6" onclick="window.location.assign('/health');" onmouseover="bubbleHover('#navBubble6')" onmouseout="bubbleLeave('#navBubble6')">
            <img id="navHealthImg" src="../static/images/bubbles/health.png" alt="Health"/>
            <span class="navBubble6Text">Health</span></span>
        </span>
        <span id="navBubble7" onclick="window.location.assign('/societies');" onmouseover="bubbleHover('#navBubble7')" onmouseout="bubbleLeave('#navBubble7')">
            <img id="navContactsImg" src="../static/images/bubbles/people.png" alt="Contacts"/>
            <span class="navBubble7Text">Societies</span></span>
        </span>
        <span id="navBubble8" onclick="window.location.assign('/revision');" onmouseover="bubbleHover('#navBubble8')" onmouseout="bubbleLeave('#navBubble8')">
            <img id="navRevisionImg" src="../static/images/bubbles/revision.png" alt="Revision"/>
            <span class="navBubble8Text">Revision</span></span>
        </span>
    </div>
    <div id="flip-card-1">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img id="societies" src="../static/images/societies/societies.png">
                <h2 id="title-front">Societies</h2>

            </div>
            <div class="flip-card-back">
                <h1 id="title-back">Why Join a Society?</h1>
                <p id="info">
                    Societies are a great way to meet like-minded people and there are over
                    200 societies to choose from including
                    Cheese & Wine Society, 20-Minute Society and Irish Dance Many societies
                    offer weekly socials and activities for you to enjoy.
                    Societies are the best way to meet new people from your course
                    (through our course based societies) and across the University. <br/>
                    To see a full list of Societies available please click
                    <a href="https://www.nusu.co.uk/getinvolved/societies/list/" target="_blank">Here.</a>
                </p>
            </div>
        </div>
    </div>
    <div id="flip-card-2">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img id="volunteer" src="../static/images/societies/volunteer.png">
                <h2 id="title-front">Volunteering</h2>
            </div>
            <div class="flip-card-back">
                <!--Information taken from NUSU website-->
                <h1 id="title-back">Why Volunteer?</h1>
                <p id="info">
                    "By volunteering with Go Volunteer you can develop the skills
                    future employers look for, help the local community and make new friends."
                    There are a wealth of volunteering opportunities here at Newcastle including:<br/>
                    <a href=https://www.nusu.co.uk/volunteering/details/536/" target="_blank"><b>North East Solidarity and Teaching (N.E.S.T): </b></a>
                    empowers the refugee and asylum-seeking community in the region
                    through a variety of formats such as one-to-one English teaching, group
                    English classes, sports, creative arts and trips into the local area.<br/>
                    <a href="https://www.nusu.co.uk/getinvolved/societies/society/25124/" target="_blank"><b>Helping our Homeless Society:</b></a>  Work to raise awareness
                    by offering educational workshops and directly aiding Newcastle’s
                    homeless population by distributing supplies. <br/>
                    <a href="https://www.nusu.co.uk/volunteering/details/430/" target="_blank"><b>Beekeeping:</b></a>NUSU has bees on and off campus, and we are
                    always looking for volunteers to help look after them. We also
                    link up with other beekeeping folk and pollinator-friendly community
                    projects across Newcastle to do our best to keep the stripy things abuzz.<a/>
                    For more information on the opportunities available please visit the <a href="https://www.nusu.co.uk/volunteering/" target="_blank">Go Volunteer Website</a>
                </p>

            </div>
        </div>
    </div>
    <div id="flip-card-3">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img id="sports_clubs" src="../static/images/societies/sports.png">
                <h2 id="title-front">Sports Clubs</h2>
            </div>
            <div class="flip-card-back">
                <!--Information taken from NUSU website-->
                <h1 id="title-back">Why Join a Sports Club?</h1>
                <p id="info">
                    With 65 sports clubs run through your Athletic Union (AU),
                    NUSU has an endless supply of sporting activities to help you
                    get your game face on!
                    With a huge variety of clubs on offer,
                    from American Football to Water Polo, there really is something for everyone.
                    Visit the <a href="https://www.nusu.co.uk/getinvolved/sport/clubs/" target="_blank">NUSU website</a> to browse our clubs.<br/>
                    <a href="https://www.nusu.co.uk/getinvolved/sport/campusleagues/" target="_blank">Campus Leagues</a> is our recreational sports programme created
                    with the objective of providing sporting opportunities to all
                    Newcastle University students – regardless of their fitness and ability.
                    Ready for a laugh and some friendly competition? Then you’ll love our
                    programme consisting of both team and individual activities.
            </div>
        </div>
    </div>
    <div id="flip-card-4">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img id="s_media" src="../static/images/societies/media_white.png">
                <h2 id="title-front">Student Media</h2>
            </div>
            <div class="flip-card-back">
                <h1 id="title-back">What is Student Media?</h1>
                <!--Information taken from NUSU website-->
                    <p id="info">

                        Our award-winning Student Media team is always hot on the heels for the latest coverage.
                        <b>The Courier Newspaper</b> Anyone who is a student at
                        Newcastle University can write for the Courier.
                        Whether you want to review your favourite film, comment on worldwide issues,
                        update students about what’s happening on campus or hold your university to account
                        with some investigative journalism, there’s space in the Courier for everyone’s voice to be heard.
                        <br/>
                        <b>Newcastle Student Radio</b>Broadcasting since 1998, NSR is an award-winning student radio station,
                        the official sound of Newcastle University.
                        NSR are online 24/7 bringing you an array of shows, created and produced by
                        students, for students.
                        Looking to unlock your inner potential? Well here at NSR,
                        we offer a wide range of opportunities to learn the tricks of the radio trade,
                        from hosting your own radio show to event organisation and live punditry.
                        Whether it’s presenting, producing or behind the scenes roles you’re
                        interested in, <a href="http://thisisnsr.co.uk/contacts/" target="_blank">contact us</a> to get involved today!
                        <br/>
                        <b>NUTV</b> is NUSU Media’s high-action and fast-paced television branch.
                        We produce content covering current affairs, entertainment,
                        music, student talent and lifestyle, sports, and more!
                        Have an idea for a brand new show? Come and make that show a reality,
                        as we’re always looking for new show concepts! NUTV also aims to help
                        bridge connections into the industry for anyone looking to pursue a media career.
                        We are a NaSTA affiliated station, allowing us access to the workshops and
                        industry trips the Association runs throughout the year,
                        including the annual conference at Easter.

                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="flip-card-5">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img id="GIAG" src="../static/images/societies/giag.png">
                <h2 id="title-front">Give It a Go</h2>
            </div>
            <div class="flip-card-back">
                <h1 id="title-back">Why Give It a Go?</h1>
                <!--Information taken from NUSU website-->
                Get involved and Give It A Go with exciting activities for all
                Newcastle students! Try something for the first time,
                meet new people, and gain experiences with activities from social
                sport sessions, to creative craft workshops, exciting day trips,
                discounted tickets, and lots more!<br/>
                See the <a href="https://www.nusu.co.uk/getinvolved/giveitago/" target="_blank">Give It a Go website</a>
                for more information and follow
                their <a href="https://www.facebook.com/NUSUgiag" target="_blank">Facebook Page</a>
                to keep up to date with their activities.


                <p id="info"></p>
            </div>
        </div>
    </div>
    <div id="flip-card-6">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img id="bursaries" src="../static/images/societies/budget.png">
                <h2 id="title-front">Bursaries</h2>
            </div>
            <div class="flip-card-back">
                <h1 id="title-back"></h1>
            </div>
            <div class="flip-card-back">
                <iframe width="100%" height="90%" src="https://www.youtube.com/embed/jI5KtAjG6xw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p id="info">Find out more about Participation Bursaries <a href="https://www.nusu.co.uk/getinvolved/bursaries/" target="_blank">here.</a> </p>
            </div>
            </div>
        </div>
    </div>
</body>
</html>